/* Footer.css */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height:4%;
}

/* Responsive Design */
@media (max-width: 768px) {
    footer p {
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {
    footer p {
        font-size: 0.6em;
    }
}