body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #4CAF50, #c8e6c9); // Green background fading into lighter shade
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color:green;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.2;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center other components horizontally */
  height: 100%;
  width: 100%;
}

.main-content {
  width: 50%; /* All main components will take 75% of the width */
  margin-bottom: 60px; /* Add margin at the bottom to avoid overlap with footer */
  padding: 20px;
  box-sizing: border-box;
}
/* app.css */
.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.app-header {
  grid-column: 1 / 3;
  background-color: #28a745;
  color: white;
  padding: 10px;
  text-align: center;
}

.app-footer {
  grid-column: 1 / 3;
  background-color: #28a745;
  color: white;
  padding: 10px;
  text-align: center;
}